<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add movies</title>
  <link rel='stylesheet' href='/stylesheets/form.css' />
</head>

<body>
  <form action="/movies/<%=movie.id%>/edit/" method="POST" enctype="multipart/form-data">
    <!-- add action -->
    <section class="outer_form_container">
      <div class="form_header">
      </div>
      <div class="inner_form_container">
        <h2 class="addMovie_form_heading">Add Movies</h2>
        <h3 class="form_section_subheading">required information</h3>
        <div class="flex">
          <div>
            <h5>movie title</h5>
            <input type="text" name="title" placeholder="..title" value="<%=movie.title%>">
          </div>
          <div>
            <h5>movie rating</h5>
            <input type="text" name="rating" placeholder="..rating / 10" value="<%= movie.rating %>">
          </div>
        </div>
        <div>
          <h5>movie tags</h5>
          <input class="extend_input" type="text" name="tags" placeholder="..tags space separate"
            value="<%= movie.tags.join(', ') %>">
        </div>
        <h3 class="form_section_subheading">Additional information</h3>
        <div class="flex">
          <div>
            <h5>movie runtime</h5>
            <input type="text" name="runtime" placeholder="..runtime in minutes" value="<%= movie.runtime %>">
          </div>
          <div>
            <h5>movie release Date</h5>
            <input type="date" name="releaseDate" placeholder="..releaseDate" value="<%= movie.releaseDate %>">
          </div>
        </div>
        <div class="flex">
          <div>
            <h5>movie gross Income</h5>
            <input type="number" name="grossIncome" placeholder="..gross income" value="<%= movie.grossIncome %>">
          </div>
          <div>
            <h5>movie votes</h5>
            <input type="number" name="votes" placeholder="..votes" value="<%= movie.votes %>">
          </div>
        </div>
        <div>
          <h5>movie actors</h5>
          <input class="extend_input" type="text" name="actors" placeholder="..actors name coma separate"
            value="<%= movie.actors.join(', ') %>">
        </div>
        <div>
          <h5>movie directors</h5>
          <input class="extend_input" type="text" name="directors" placeholder="..directors name coma separate"
            value="<%= movie.directors.join(', ') %>">
        </div>
        <div>
          <h5>movie writter</h5>
          <input class="extend_input" type="text" name="writter" placeholder="..writters name coma separate"
            value="<%= movie.writter %>">
        </div>
        <div>
          <h5>movie storyline</h5>
          <textarea name="storyline" placeholder="..storyline" id="" cols="30" rows="10"><%= movie.storyline %></textarea>
        </div>
        <div>
          <h5>movie poster</h5>
          <input class="extend_input" type="file" name="imgSrc" placeholder="..imgUrl" value="" >
        </div>
        <div class="submit_container">
          <input class="submit" type="submit">
        </div>
      </div>
    </section>
  </form>


</body>

</html>